# This rule is not used by the project zookeeper-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to zookeeper.kubedoop.dev.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: zookeeper-operator
    app.kubernetes.io/managed-by: kustomize
  name: zookeepercluster-viewer-role
rules:
- apiGroups:
  - zookeeper.kubedoop.dev
  resources:
  - zookeeperclusters
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - zookeeper.kubedoop.dev
  resources:
  - zookeeperclusters/status
  verbs:
  - get
