---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: zookeeperznodes.zookeeper.kubedoop.dev
spec:
  group: zookeeper.kubedoop.dev
  names:
    kind: ZookeeperZnode
    listKind: ZookeeperZnodeList
    plural: zookeeperznodes
    shortNames:
    - znode
    - znodes
    singular: zookeeperznode
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ZookeeperZnode is the Schema for the zookeeperznodes API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            properties:
              clusterRef:
                properties:
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                type: object
            required:
            - clusterRef
            type: object
          status:
            properties:
              znodePath:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
